<form [formGroup]="addBranchForm">
  <div class="card">
    <div class="card-body">
      <h4 class="mb-32">{{buttonText}} Branch</h4>

      <!-- Row with two inputs and space between -->
      <div class="main-form">
        <mat-form-field class="flex-1 fs-16" appearance="outline">
          <mat-label>Branch Name</mat-label>
          <input matInput type="text" formControlName="name" placeholder="Branch Name" />
        </mat-form-field>

        <mat-form-field class="flex-1 fs-16" appearance="outline">
          <mat-label>Short Name</mat-label>
          <input matInput type="text" formControlName="code" placeholder="Short Name" />
        </mat-form-field>
        <mat-form-field class="flex-1 fs-16" appearance="outline">
          <mat-label>Address</mat-label>
          <textarea matInput type="text" formControlName="address" placeholder="Address" ></textarea>
        </mat-form-field>
        <mat-form-field class="flex-1 fs-16" appearance="outline">
          <mat-label>TRN Number</mat-label>
          <input matInput type="text" formControlName="prnNum" placeholder="TRN Numbers" />
        </mat-form-field>
        <div>
          <mat-slide-toggle formControlName="isActive">Active</mat-slide-toggle>
        </div>
      </div>
    </div>

    <!-- Action buttons -->
    <div mat-dialog-actions class="modal-btn">
      <button mat-raised-button type="button" color="primary" (click)="onSave()" [disabled]="loading">
        <ng-container *ngIf="!loading; else loadingSpinner">
          {{buttonText}}
        </ng-container>
        <ng-template #loadingSpinner>
          <mat-spinner diameter="20" [strokeWidth]="2" class="me-2"></mat-spinner>
        </ng-template>
      </button>
      <a mat-raised-button mat-dialog-close color="warn">Close</a>
    </div>
  </div>
</form>