<form [formGroup]="addItemForm">
  <div class="card">
    <div class="card-body">
      <h4 class="mb-32">Add Item</h4>

      <!-- Row with two inputs and space between -->
      <div class="main-form">
        <mat-form-field class="flex-1 fs-16" appearance="outline">
          <mat-label>Item Name</mat-label>
          <input matInput type="text" formControlName="name" placeholder="Item Name" />
        </mat-form-field>
        <mat-form-field class="flex-1 fs-16" appearance="outline">
          <mat-label>Price</mat-label>
          <input matInput type="number" formControlName="price" placeholder="Item Price" />
        </mat-form-field>
        <mat-form-field class="flex-1 fs-16" appearance="outline">
          <mat-label>Offer Price</mat-label>
          <input matInput type="number" formControlName="offer" placeholder="Offer Price" />
        </mat-form-field>
        <mat-form-field class="flex-1 fs-16" appearance="outline">
          <mat-label>Select Category</mat-label>
          <mat-select formControlName="categoryId">
            <mat-option *ngFor="let cat of categoryList" [value]="cat.id">{{ cat.name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-slide-toggle formControlName="isActive">Active</mat-slide-toggle>
      </div>
    </div>
  </div>

  <!-- Action buttons -->
  <div mat-dialog-actions class="modal-btn">
    <button mat-raised-button type="button" color="primary" (click)="onSave()" [disabled]="loading">
      <ng-container *ngIf="!loading; else loadingSpinner">
        {{buttonText}}
      </ng-container>
      <ng-template #loadingSpinner>
        <mat-spinner diameter="20" [strokeWidth]="2" class="me-2"></mat-spinner>
      </ng-template>
    </button>
    <a mat-raised-button mat-dialog-close color="warn">Close</a>
  </div>
</form>