<div class="container-fluid" *ngIf="!isLoading">
  <nav class="w-100 navbar p-0 navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Master</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Add</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Advance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Purchase</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Billing & KOT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Receipts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SMS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Email</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Payments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Display</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Options</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="row bg-wrapper align-items-stretch  justify-content-start g-1">
    <div class="col-sm-2 bg-blue m-0">
      <div class="w-100 d-flex flex-column align-items-start justify-content-between p-1">
        <div class="w-100 d-flex align-items-start justify-content-between">
          <button class="w-33" (click)="scrollUp()">
            <img src="assets/icon/arrows.png">
          </button>
          <button class="w-33" (click)="scrollDown()">
            <img src="assets/icon/down.png">
          </button>
        </div>
        <div #scrollContainer
          class="w-100 d-flex  scroll-container food-btn flex-column align-items-start justify-content-between border ronded p-1 my-1">
          <button *ngFor="let cat of allCategories" (click)="getItemByCategoryId(cat)">{{cat.name}}</button>
        </div>
        <div class="w-100 d-flex flex-wrap align-items-start justify-content-start">
          <div class="w-100 d-flex bg-white p-1 align-items-center justify-content-start">
            <input type="radio" name="orderType" id="takeAway" value="Take Away" [formControl]="selectedOrderType" class="custom-checkbox">
            <label for="takeAway" class="ms-1">Take Away</label>
          </div>
          <div class="w-100 d-flex bg-white p-1 align-items-center justify-content-start">
            <input type="radio" name="orderType" id="homeDelivery" value="Home Delivery" [formControl]="selectedOrderType"  class="custom-checkbox">
            <label for="homeDelivery" class="ms-1">Home Delivery</label>
          </div>
          <div class="w-100 d-flex bg-white p-1 align-items-center justify-content-start">
            <input type="radio" name="orderType" id="table" value="Table" [formControl]="selectedOrderType" class="custom-checkbox">
            <label for="table" class="ms-1">Table</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-10">
      <div class="w-100 d-flex flex-column align-items-start justify-content-between p-1">
        <div class="w-100 d-flex flex-row flex-wrap align-items-stretch justify-content-between">
          <span class="bg-blue p-1 text-white">

            {{selectedCategory}}
          </span>
          <div class="d-flex flex-row gap-1 flex-wrap align-items-center justify-content-start">
            <!-- <div class="d-inline-flex header-input col-xs-12 bg-white px-1 align-items-center justify-content-start">
              <input type="checkbox" name="" id="">
              <span class="ms-1">Take Away</span>
            </div> -->
            <div class="d-inline-flex header-input col-xs-12 align-items-stretch justify-content-start ">
              <label for="" class="text-white bg-blue text-end">Bill NO:</label>
              <select class="w-100-p fs-4 fw-bold">
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
            </div>
            <div class="d-inline-flex header-input col-xs-12 align-items-stretch justify-content-start">
              <label for="" class="text-white bg-blue text-end ">Dt :</label>
              <input type="date" [formControl]="todayDate">
            </div>
          </div>
        </div>
        <div class="w-100 d-flex my-1 flex-row flex-wrap align-items-stretch justify-content-between">
          <div #itemScroll class="item-scroll col border">
            <div class="w-100 beverage-grid d-flex flex-row flex-wrap align-items-start justify-content-start">
              <button class="beverage-item" data-price="45" *ngFor="let item of categoryItems"
                (click)="onItemSelect(item)">{{item.name}}</button>

            </div>
          </div>
          <div class="w-10 d-flex align-items-end flex-column text-center ps-1 position-relative">
            <button class="w-100 h-auto mb-1" (click)="itemScrollUp()">
              <div class="d-flex flex-column w-100 text-center">
                <span class=" w-100">
                  <img src="assets/icon/arrows.png">
                </span>
                <span class="fw-semibold w-100"> UP </span>
              </div>
            </button>
            <button class="w-100 h-auto" (click)="itemScrollDown()">
              <div class="d-flex flex-column w-100 text-center">
                <span class=" w-100">
                  <img src="assets/icon/down.png">
                </span>
                <span class="w-100 fw-semibold">Down</span>
              </div>
            </button>
            <!-- <button class="w-100 h-auto mt-auto">
              <div class="d-flex flex-column w-100 text-center">
                <span class=" w-100">
                  <img src="assets/icon/file-update.png">
                </span>
                <span class="w-100 fw-semibold">Update</span>
              </div>
            </button> -->
          </div>
        </div>
        <div class="w-100 d-flex flex-row flex-wrap align-items-stretch justify-content-between">
          <div class="row g-1 w-100 mx-0">
            <div class="col-sm-9 mt-0 d-flex flex-row flex-wrap align-items-start justify-content-start">
              <div class="row g-1  w-100 m-0 d-flex flex-row flex-wrap align-items-stretch justify-content-between">
                <div class="col">
                  <div class="w-100 d-flex flex-row flex-wrap align-items-start justify-content-start ">
                    <div class="w-100 border d-flex flex-row align-items-start justify-content-start numpad p-1">
                      <button class="numpad-btn" *ngFor="let key of numpadKeys" (click)="onNumpadClick(key)">
                        {{ key }}
                      </button>
                    </div>
                  </div>
                  <div class="w-100 mt-1">
                    <div class="table-container w-100 bg-white">
                      <table class="order-table w-100" id="orderTable">
                        <thead>
                          <tr>
                            <th>SR.</th>
                            <!-- <th>Code</th> -->
                            <th>Name</th>
                            <th>Rate</th>
                            <th>Qty</th>
                            <th>Total</th>
                          </tr>
                        </thead>
                        <tbody id="orderTableBody">
                          <tr *ngFor="let order of displayedOrders; let i = index"
                            [ngClass]="{  'selected-row': i === selectedRowIndex,  'new-row': i === newlyAddedRowIndex  }"
                            (click)="onRowSelect(i)">
                            <td> {{i + 1}}</td>
                            <!-- <td>{{ order?.id || '' }}</td> -->
                            <td>{{ order?.name || '' }}</td>
                            <td>{{ order?.rate != null ? order.rate.toFixed(2) : '' }}</td>
                            <td>{{ order?.qty || '' }}</td>
                            <td>{{ order?.total != null ? order.total.toFixed(2) : '' }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                </div>
                <div class="w-10 d-flex align-items-end flex-column text-center ps-1 position-relative">
                  <button class="w-100 h-auto" data-bs-toggle="modal" data-bs-target="#otherChargesModal">
                    <span class="fs-6 fw-semibold w-100 text-center"> Other Charges </span>
                  </button>
                  <button class="w-100 h-auto" (click)="deleteItem()">
                    <div class="d-flex flex-column w-100 text-center">
                      <span class=" w-100">
                        <img src="assets/icon/remove.png">
                      </span>
                      <span class="fw-semibold w-100"> Delete </span>
                    </div>
                  </button>
                  <button class="w-100 h-auto my-1" (click)="plusItemQty()">
                    <div class="d-flex flex-column w-100 text-center">
                      <span class=" w-100">
                        <img src="assets/icon/plus.png">
                      </span>
                      <span class="fw-semibold w-100"> Plus </span>
                    </div>
                  </button>
                  <button class="w-100 h-auto" (click)="minusItemQty()">
                    <div class="d-flex flex-column w-100 text-center">
                      <span class=" w-100">
                        <img src="assets/icon/minus-button.png">
                      </span>
                      <span class="fw-semibold w-100"> Minus </span>
                    </div>
                  </button>

                  <!-- <button class="w-100 h-auto mt-1">
                    <div class="d-flex flex-column w-100 text-center">
                      <span class=" w-100">
                        <img src="assets/icon/save.png">
                      </span>
                      <span class="fw-semibold w-100"> Save </span>
                    </div>
                  </button> -->
                </div>
              </div>
              <div class="w-100">
                <div class="row w-100 m-0 g-1">
                    <div [formGroup]="customerForm" class="col-sm-8 border p-1 d-flex flex-row flex-wrap align-items-start justify-content-start lh-1">
                      <div class="col-6 d-flex align-items-stretch justify-content-start padding-0">
                        <label class="text-white bg-blue text-end w-60-p">Mobile:</label>
                        <input class="col" type="text" formControlName="mobile">
                      </div>
                      <div class="col-6 d-flex align-items-stretch justify-content-start padding-0">
                        <label class="text-white bg-blue text-end w-60-p">Name:</label>
                        <input class="col" type="text" formControlName="name">
                      </div>
                      <div class="col-12 d-flex align-items-stretch justify-content-start padding-0">
                        <label class="text-white bg-blue text-end w-60-p">Add.:</label>
                        <input class="col" type="text" formControlName="address">
                      </div>
                      <div class="col-6 d-flex align-items-stretch justify-content-start padding-0">
                        <label class="text-white bg-blue text-end w-60-p">Rem.:</label>
                        <input class="col" type="text" formControlName="remark">
                      </div>
                      <div class="col-6 d-flex align-items-stretch justify-content-start padding-0">
                        <label class="text-white bg-blue text-end w-60-p">Del Boy:</label>
                        <select class="col" formControlName="deliveryBoy">
                          <option *ngFor="let del of allDeliveryBoys" [value]="del.id">{{ del.name }}</option>
                        </select>
                      </div>
                    </div>
                  <div class="col-sm-4 gap-1 d-flex align-items-end justify-content-evenly">
                    <button class="col h-auto" (click)="saveBill()">
                      <div class="d-flex flex-column w-100 text-center">
                        <span class=" w-100">
                          <img src="assets/icon/sav_print.png">
                        </span>
                        <span class="fw-semibold w-100"> Save & Print </span>
                      </div>
                    </button>
                    <button class="col h-auto" (click)="newBill()">
                      <div class="d-flex flex-column w-100 text-center">
                        <span class=" w-100">
                          <img src="assets/icon/refresh.png">
                        </span>
                        <span class="fw-semibold w-100"> New Bill </span>
                      </div>
                    </button>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-sm-3 border p-1 d-flex align-items-end flex-column">
              <div class="col-12 d-flex align-items-stretch justify-content-start padding-0">
                <label for="" class="text-white lh-1 bg-blue text-end w-40">Sub Total :</label>
                <input class="w-60 fw-bold text-end" type="text" [value]="subtotalAmount | number:'1.2-2'" 
                readonly>
              </div>
              <div class="w-100 mt-1 d-flex flex-row flex-wrap align-items-stretch justify-content-start padding-0">
                <label for="" class="text-white bg-blue  text-end w-40 ">Dis. In%:</label>
                <div class="w-60  d-flex align-items-center ">
                  <select class="col w-50-p">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>
                  <input class="col w-50-p text-end" type="text">
                </div>
              </div>
              <div class="col-12 mt-1 d-flex align-items-stretch justify-content-start padding-0">
                <select class="col-12 fs-5 fw-bold" (click)="ontransactionTypeSelect($event)">
                  <option *ngFor="let tran of allTransactionTypes" [value]="tran.id">{{tran.name}}</option>
                </select>
              </div>

              <div class="w-100 mt-auto">
                <div class="row row w-100 m-0 g-1" [formGroup]="paymentForm">
                  <div class="col-6 mt-0 d-flex  align-items-stretch justify-content-start padding-0">
                    <label for="" class="text-white lh-1 bg-blue text-end col-5">Cash:</label>
                    <div class="col-7 d-flex padding-0">
                      <input class="col-12 padding-0" type="text">
                    </div>
                  </div>
                  <div class="col-6 d-flex align-items-stretch justify-content-start padding-0">
                    <label for="" class="text-white lh-1 bg-blue text-end col-5">card:</label>
                    <div class="col-7 d-flex padding-0">
                      <input class="col-12 padding-0" type="text">
                    </div>
                  </div>
                  <div class="col-6 d-flex align-items-stretch justify-content-start padding-0">
                    <label for="" class="text-white bg-blue text-end col-5">No:</label>
                    <select class="col-7">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                    </select>
                  </div>
                  <div class="col-6 d-flex align-items-stretch justify-content-start">
                    <input class="col-12" type="text">
                  </div>
                  <div class="col-6 d-flex align-items-stretch justify-content-start">
                    <!-- <label for="" class="text-white lh-1 bg-blue text-end w-60-p">Cash:</label>
                        <input class="col" type="text"> -->
                  </div>
                  <div class="col-6 d-flex align-items-stretch justify-content-start">
                    <label for="" class="text-white lh-1 bg-blue text-end col-5" >Bill:</label>
                    <input placeholder="0.0" class="col-7 fw-bold text-end padding-0" type="number"  formControlName="bill">
                  </div>
                  <div class="col-6 d-flex  align-items-stretch justify-content-start">
                    <label for="" class="text-white lh-1 bg-blue text-end col-5">Paid:</label>
                    <input placeholder="0.0" class="col-7 fw-bold text-end padding-0" type="number" formControlName="paid">
                  </div>
                  <div class="col-6 d-flex  align-items-stretch justify-content-start">
                    <label for="" class="text-white lh-1 bg-blue text-end col-5">Bal:</label>
                    <input placeholder="0.0" class="col-7 fw-bold text-end padding-0" type="number" formControlName="balance">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isLoading" class="full-screen-loader">
  <div class="loader"></div>
</div>

<div class="modal fade" id="otherChargesModal" tabindex="-1" aria-labelledby="otherChargesModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="otherChargesModalLabel">Add Other Charges</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="otherChargesForm">
          <div class="mb-3">
            <label for="otherChargesInput" class="form-label">Other Charges</label>
            <input type="number" class="form-control" id="otherChargesInput" formControlName="amount" placeholder="Enter amount">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveOtherCharges()" data-bs-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="missingDetailsModal" tabindex="-1" aria-labelledby="missingDetailsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="missingDetailsModalLabel">Missing Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{{ missingDetailsMessage }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>