body {
  font-size: 14px;
}

button {
  border-color: #eee;
  background-color: #fff;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px !important;
}

button img {
  height: 24px;
}

.numpad-btn {
  flex: 1 1 auto;
  font-size: 16px;
  font-weight: bold;
  height: auto;
  ;
}

.beverage-item {
  background-color: #8efa9f;
  height: 66px;
  width: 88px;
  line-height: normal;
}

.food-btn button {
  width: 100%;
  font-weight: 600;
  padding: 20px
}

.scroll-container {
  max-height: 490px; /* Adjust as needed */
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.item-scroll {
  max-height:250px; /* Adjust as needed */
  overflow-y: auto;
  height: 250px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.w-33 {
  width: 33%;
}

.bg-wrapper {
  background-color: #7995cb;
}


button,
input,
select {
  height: 30px;
}

label{
  // border: inset 1px #584e4e4f;
  padding: 1px;
  margin-right: 1px;
  height: 30px;
}

.table-container {
  max-height: 200px;
  overflow-x: auto;
  overflow-y: auto;
}

label.bg-blue {
  font-weight: 600;
}

.bg-blue {
  background: blue;
}

.h-auto {
  height: auto;
}

.w-10 {
  width: 14%;
}

.w-60-p {
  width: 60px;
  min-width: 60px;
}

.w-50-p {
  width: 50px;
  min-width: 50px;
}

.w-100-p {
  width: 100px;
  min-width: 100px;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-60-p~.col {
  width: calc(100% - 64px);
  flex: unset;
}

.order-table th {
  background-color: #eee;

}

.order-table th,
.order-table td {
  border: 1px solid #ccc;
  padding: 2px;
  text-align: center;
}

@media (min-width:769px) and (max-width:1025px) {

  .w-40,
  .w-60 {
    width: 100%;
  }
}

@media (max-width:567px) {
  .w-10 {
    width: 20%;
  }

  .header-input {
    width: 100%;
  }
}

tr.new-row {
  background-color: #d4edda; /* light green */
  transition: background-color 0.5s ease;
}

tr.selected-row {
  background-color: #cce5ff; /* light blue */
  border-left: 4px solid #007bff;
}

.custom-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  margin-right: 8px;
}

.custom-checkbox:checked {
  background-color: #007bff;
  border-color: #007bff;
  position: relative;
}

.custom-checkbox:checked::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 5px;
  width: 4px;
  height: 8px;
  transform: rotate(45deg);
}


.full-screen-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//modal buttons css
.modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #f8f9fa; /* Optional: Add a background color for better visibility */
  border-top: 1px solid #dee2e6; /* Optional: Add a border for separation */
}

.modal-footer .btn {
  visibility: visible; /* Ensure buttons are always visible */
  opacity: 1; /* Ensure full opacity */
  transition: none; /* Disable hover effects if any */
  
}

.modal-footer .btn-primary{
  color: #fff;
    background-color: #0b5ed7;
    border-color: #0b5ed7;
}

.modal-footer .btn-secondary{
  color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

/* Hide number input arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* For Firefox */
}

.padding-0{
  padding: 0 !important;
}