<div class="container-fluid" *ngIf="!isLoading">
  <nav class="w-100 navbar p-0 navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Master</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" [class.active]="selectedSection === 'billing'" (click)="selectedSection = 'billing'">Billing Screen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="selectedSection === 'payments'" (click)="selectedSection = 'payments'">Payments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="selectedSection === 'kot'" (click)="selectedSection = 'kot'">Billing & KOT</a>
          </li>
          <li class="nav-item">
           <a class="nav-link" (click)="openReportModal('Final Report', 'final-report')">Final Report</a>
           
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="openReportModal('Sales Report','mode-wise-report')">Sales Report</a></li>

        </ul>
      </div>
    </div>
  </nav>
  <div *ngIf="selectedSection === 'billing'" class="row bg-wrapper align-items-stretch  justify-content-start g-1">
    <div class="col-sm-2 bg-blue m-0">
      <div class="w-100 d-flex flex-column align-items-start justify-content-between p-1">
        <div class="w-100 d-flex align-items-start justify-content-between">
          <button class="w-33" (click)="scrollUp()">
            <img src="assets/icon/arrows.png">
          </button>
          <button class="w-33" (click)="scrollDown()">
            <img src="assets/icon/down.png">
          </button>
        </div>
        <div #scrollContainer
          class="w-100 d-flex  scroll-container food-btn flex-column align-items-start justify-content-between border ronded p-1 my-1">
          <button *ngFor="let cat of allCategories" (click)="getItemByCategoryId(cat)">{{cat.name}}</button>
        </div>
        <div class="w-100 d-flex flex-wrap align-items-start justify-content-start">
          <div class="w-100 d-flex bg-white p-1 align-items-center justify-content-start">
            <input type="radio" name="orderType" id="takeAway" value="Take Away" [formControl]="selectedOrderType" class="custom-checkbox">
            <label for="takeAway" class="ms-1">Take Away</label>
          </div>
          <div class="w-100 d-flex bg-white p-1 align-items-center justify-content-start">
            <input type="radio" name="orderType" id="homeDelivery" value="Home Delivery" [formControl]="selectedOrderType"  class="custom-checkbox">
            <label for="homeDelivery" class="ms-1">Home Delivery</label>
          </div>
          <div class="w-100 d-flex bg-white p-1 align-items-center justify-content-start">
            <input type="radio" name="orderType" id="table" value="Table" [formControl]="selectedOrderType" class="custom-checkbox">
            <label for="table" class="ms-1">Table</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-10">
      <div class="w-100 d-flex flex-column align-items-start justify-content-between p-1">
        <div class="w-100 d-flex flex-row flex-wrap align-items-stretch justify-content-between">
          <span class="bg-blue p-1 text-white">

            {{selectedCategory}}
          </span>
          <div class="d-flex flex-row gap-1 flex-wrap align-items-center justify-content-start">
            <!-- <div class="d-inline-flex header-input col-xs-12 bg-white px-1 align-items-center justify-content-start">
              <input type="checkbox" name="" id="">
              <span class="ms-1">Take Away</span>
            </div> -->
            <div class="d-inline-flex header-input col-xs-12 align-items-stretch justify-content-start ">
              <label for="" class="text-white bg-blue text-end">Bill NO:</label>
              <select class="w-100-p " (change)="showBill($event)">
                <option value="" disabled selected>Select Bill No</option>
                <option *ngFor="let id of allBillsIds" [value]="id.id" >{{id.billingId}}</option>
              </select>
            </div>
            <div class="d-inline-flex header-input col-xs-12 align-items-stretch justify-content-start">
              <label for="" class="text-white bg-blue text-end ">Dt :</label>
              <input type="date" [formControl]="todayDate">
            </div>
          </div>
        </div>
        <div class="w-100 d-flex my-1 flex-row flex-wrap align-items-stretch justify-content-between">
          <div #itemScroll class="item-scroll col border">
            <div class="w-100 beverage-grid d-flex flex-row flex-wrap align-items-start justify-content-start">
              <button class="beverage-item" data-price="45" *ngFor="let item of categoryItems"
                (click)="onItemSelect(item)">{{item.name}}</button>

            </div>
          </div>
          <div class="w-10 d-flex align-items-end flex-column text-center ps-1 position-relative">
            <button class="w-100 h-auto mb-1" (click)="itemScrollUp()">
              <div class="d-flex flex-column w-100 text-center">
                <span class=" w-100">
                  <img src="assets/icon/arrows.png">
                </span>
                <span class="fw-semibold w-100"> UP </span>
              </div>
            </button>
            <button class="w-100 h-auto" (click)="itemScrollDown()">
              <div class="d-flex flex-column w-100 text-center">
                <span class=" w-100">
                  <img src="assets/icon/down.png">
                </span>
                <span class="w-100 fw-semibold">Down</span>
              </div>
            </button>
            <button class="w-100 h-auto mt-auto">
              <div class="d-flex flex-column w-100 text-center">
                <span class=" w-100">
                  <img src="assets/icon/file-update.png">
                </span>
                <span class="w-100 fw-semibold">Update</span>
              </div>
            </button>
          </div>
        </div>
        <div class="w-100 d-flex flex-row flex-wrap align-items-stretch justify-content-between">
          <div class="row g-1 w-100 mx-0">
            <div class="col-sm-9 mt-0 d-flex flex-row flex-wrap align-items-start justify-content-start">
              <div class="row g-1  w-100 m-0 d-flex flex-row flex-wrap align-items-stretch justify-content-between">
                <div class="col">
                  <div class="w-100 d-flex flex-row flex-wrap align-items-start justify-content-start ">
                    <div class="w-100 border d-flex flex-row align-items-start justify-content-start numpad p-1">
                      <button class="numpad-btn" *ngFor="let key of numpadKeys" (click)="onNumpadClick(key)">
                        {{ key }}
                      </button>
                    </div>
                  </div>
                  <div class="w-100 mt-1">
                    <div class="table-container w-100 bg-white">
                      <table class="order-table w-100" id="orderTable">
                        <thead>
                          <tr>
                            <th>SR.</th>
                            <!-- <th>Code</th> -->
                            <th>Name</th>
                            <th>Rate</th>
                            <th>Qty</th>
                            <th>Total</th>
                          </tr>
                        </thead>
                        <tbody id="orderTableBody">
                          <tr *ngFor="let order of displayedOrders; let i = index"
                            [ngClass]="{  'selected-row': i === selectedRowIndex,  'new-row': i === newlyAddedRowIndex  }"
                            (click)="onRowSelect(i)">
                            <td> {{i + 1}}</td>
                            <!-- <td>{{ order?.id || '' }}</td> -->
                            <td>{{ order?.name || '' }}</td>
                            <td>{{ order?.rate != null ? order.rate.toFixed(2) : '' }}</td>
                            <td>{{ order?.qty || '' }}</td>
                            <td>{{ order?.total != null ? order.total.toFixed(2) : '' }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                </div>
                <div class="w-10 d-flex align-items-end flex-column text-center ps-1 position-relative">
                  <button class="w-100 h-auto" data-bs-toggle="modal" data-bs-target="#otherChargesModal">
                    <span class="fs-6 fw-semibold w-100 text-center"> Other Charges </span>
                  </button>
                  <button class="w-100 h-auto" (click)="deleteItem()">
                    <div class="d-flex flex-column w-100 text-center">
                      <span class=" w-100">
                        <img src="assets/icon/remove.png">
                      </span>
                      <span class="fw-semibold w-100"> Delete </span>
                    </div>
                  </button>
                  <button class="w-100 h-auto my-1" (click)="plusItemQty()">
                    <div class="d-flex flex-column w-100 text-center">
                      <span class=" w-100">
                        <img src="assets/icon/plus.png">
                      </span>
                      <span class="fw-semibold w-100"> Plus </span>
                    </div>
                  </button>
                  <button class="w-100 h-auto" (click)="minusItemQty()">
                    <div class="d-flex flex-column w-100 text-center">
                      <span class=" w-100">
                        <img src="assets/icon/minus-button.png">
                      </span>
                      <span class="fw-semibold w-100"> Minus </span>
                    </div>
                  </button>

                  <!-- <button class="w-100 h-auto mt-1">
                    <div class="d-flex flex-column w-100 text-center">
                      <span class=" w-100">
                        <img src="assets/icon/save.png">
                      </span>
                      <span class="fw-semibold w-100"> Save </span>
                    </div>
                  </button> -->
                </div>
              </div>
              <div class="w-100">
                <div class="row w-100 m-0 g-1">
                    <div [formGroup]="customerForm" class="col-sm-8 border p-1 d-flex flex-row flex-wrap align-items-start justify-content-start lh-1">
                      <div class="col-6 d-flex align-items-stretch justify-content-start padding-0">
                        <label class="text-white bg-blue text-end w-60-p">Mobile:</label>
                        <input class="col" type="text" formControlName="mobile">
                      </div>
                      <div class="col-6 d-flex align-items-stretch justify-content-start padding-0">
                        <label class="text-white bg-blue text-end w-60-p">Name:</label>
                        <input class="col" type="text" formControlName="name">
                      </div>
                      <div class="col-12 d-flex align-items-stretch justify-content-start padding-0">
                        <label class="text-white bg-blue text-end w-60-p">Add.:</label>
                        <input class="col" type="text" formControlName="address">
                      </div>
                      <div class="col-6 d-flex align-items-stretch justify-content-start padding-0">
                        <label class="text-white bg-blue text-end w-60-p">Rem.:</label>
                        <input class="col" type="text" formControlName="remark">
                      </div>
                      <div class="col-6 d-flex align-items-stretch justify-content-start padding-0">
                        <label class="text-white bg-blue text-end w-60-p">Del Boy:</label>
                        <select class="col" formControlName="deliveryBoy">
                          <option *ngFor="let del of allDeliveryBoys" [value]="del.id">{{ del.name }}</option>
                        </select>
                      </div>
                    </div>
                  <div class="col-sm-4 gap-1 d-flex align-items-end justify-content-evenly">
                    <button class="col h-auto" (click)="saveBill()">
                      <div class="d-flex flex-column w-100 text-center">
                        <span class=" w-100">
                          <img src="assets/icon/sav_print.png">
                        </span>
                        <span class="fw-semibold w-100"> Save & Print </span>
                      </div>
                    </button>
                    <button class="col h-auto" (click)="newBill()">
                      <div class="d-flex flex-column w-100 text-center">
                        <span class=" w-100">
                          <img src="assets/icon/refresh.png">
                        </span>
                        <span class="fw-semibold w-100"> New Bill </span>
                      </div>
                    </button>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-sm-3 border p-1 d-flex align-items-end flex-column">
              <div class="col-12 d-flex align-items-stretch justify-content-start padding-0 mg-b">
                <label for="" class="text-white lh-1 bg-blue text-end w-40">Sub Total :</label>
                <input class="w-60 fw-bold text-end" type="text" [value]="subtotalAmount | number:'1.2-2'" 
                readonly>
              </div>
              <div class="col-12 d-flex align-items-stretch justify-content-start padding-0 mg-b">
                <label for="" class="text-white lh-1 bg-blue text-end w-40">Dis. In%:</label>
                <input class="w-60 fw-bold text-end" type="text" [formControl]="discountPercent" placeholder="0.0">
              </div>
              
              <div class="col-12 mt-1 d-flex align-items-stretch justify-content-start padding-0">
                <select class="col-12 fs-5 fw-bold" (click)="ontransactionTypeSelect($event)">
                  <option *ngFor="let tran of allTransactionTypes" [value]="tran.id">{{tran.name}}</option>
                </select>
              </div>

              <div class="w-100 mt-auto">
                <div class="row row w-100 m-0 g-1" [formGroup]="paymentForm">
                  <div class="col-6 mt-0 d-flex  align-items-stretch justify-content-start padding-0">
                    <label for="" class="text-white lh-1 bg-blue text-end col-5">Cash:</label>
                    <div class="col-7 d-flex padding-0">
                      <input class="col-12 padding-0" type="text">
                    </div>
                  </div>
                  <div class="col-6 d-flex align-items-stretch justify-content-start padding-0">
                    <label for="" class="text-white lh-1 bg-blue text-end col-5">card:</label>
                    <div class="col-7 d-flex padding-0">
                      <input class="col-12 padding-0" type="text">
                    </div>
                  </div>
                  <!-- <div class="col-6 d-flex align-items-stretch justify-content-start padding-0">
                    <label for="" class="text-white bg-blue text-end col-5">No:</label>
                    <select class="col-7">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                    </select>
                  </div>
                  <div class="col-6 d-flex align-items-stretch justify-content-start">
                    <input class="col-12" type="text">
                  </div> -->
                  <div class="col-6 d-flex align-items-stretch justify-content-start">
                    <!-- <label for="" class="text-white lh-1 bg-blue text-end w-60-p">Cash:</label>
                        <input class="col" type="text"> -->
                  </div>
                  <div class="col-6 d-flex align-items-stretch justify-content-start">
                    <label for="" class="text-white lh-1 bg-blue text-end col-5" >Bill:</label>
                    <input placeholder="0.0" class="col-7 fw-bold text-end padding-0" type="number"  formControlName="bill">
                  </div>
                  <div class="col-6 d-flex  align-items-stretch justify-content-start">
                    <label for="" class="text-white lh-1 bg-blue text-end col-5">Paid:</label>
                    <input placeholder="0.0" class="col-7 fw-bold text-end padding-0" type="number" formControlName="paid">
                  </div>
                  <div class="col-6 d-flex  align-items-stretch justify-content-start">
                    <label for="" class="text-white lh-1 bg-blue text-end col-5">Bal:</label>
                    <input placeholder="0.0" class="col-7 fw-bold text-end padding-0" type="number" formControlName="balance">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="selectedSection === 'payments'" class="window">
    <div class="content">
      <div class="form-container" [formGroup]="addCashPaymentForm">
        <div class="form-row">
          <div class="form-label">Payment Dt. :</div>
          <div class="form-input w-100">
            <input class="w-100" type="date" formControlName="paymentDate">
          </div>
          <div class="form-label">Payment To :</div>
          <div class="form-input w-100">
            <input class="w-100" type="text" formControlName="paymentTo">
          </div>
        </div>
        <div class="form-row">
          <div class="form-label">Payment Mode :</div>
          <div class="form-input w-100">
            <input class="w-100" type="text" value="Cash" disabled>
          </div>
          <div class="form-label">Payment Amt :</div>
          <div class="form-input w-100">
            <input class="w-100" type="text" value="0.000" formControlName="amount">
          </div>
        </div>
        <div class="form-row">
          <div class="form-label">Remarks :</div>
          <div class="form-input w-100" style="flex: 3">
            <textarea class="w-100" formControlName="remarks"></textarea>
          </div>
        </div>
      </div>
      
      <div class="payment-div ">
        <table class="order-table w-100">
          <thead >
            <tr>
              <th>#</th>
              <th>Payment ID</th>
              <th>Payment To</th>
              <th>Mode</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="isLoadingPayments">
              <td colspan="5" class="text-center">
                <div class="spinner-border text-primary" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </td>
            </tr>
            <ng-container *ngIf="!isLoadingPayments">

            <!-- Render payment rows -->
            <tr
            *ngFor="let payment of payments; let i = index"
            [ngClass]="{
              'selected-row': i === selectedPaymentRowIndex,
              'new-row': i === newlyAddedPaymentRowIndex
            }"
            (click)="onPaymentRowSelect(i)"
          >
              <td>{{ i + 1 }}</td>
              <td>{{ payment.id || '' }}</td>
              <td>{{ payment.paymentTo || '' }}</td>
              <td>{{ payment.paymentMode || '' }}</td>
              <td>{{ payment.amount || '' }}</td>
            </tr>
        
            <!-- Render blank rows -->
            <ng-container *ngIf="payments.length < blankRowsPayment">
              <tr *ngFor="let blankRow of [].constructor(blankRowsPayment - payments.length); let i = index">
              <td>{{ payments.length + i + 1 }}</td>
                <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            </ng-container>
          </ng-container>

          </tbody>
        </table>
      </div>
      
      <div class="button-bar">
        <div class="action-button" (click)="savePayment()">
          <div *ngIf="!isSavingPayment" class="button-icon">💾</div>
          <div *ngIf="!isSavingPayment" class="button-text">Save</div>
          <div *ngIf="isSavingPayment" class="button-icon">
            <div class="spinner-border spinner-border-sm text-primary" role="status"></div>
          </div>
        </div>
        <div class="action-button" (click)="savePayment()">
          <div *ngIf="!isUpdatingPayment" class="button-icon">🔄</div>
          <div *ngIf="!isUpdatingPayment" class="button-text">Update</div>
          <div *ngIf="isUpdatingPayment" class="button-icon">
            <div class="spinner-border spinner-border-sm text-primary" role="status"></div>
          </div>
        </div>
        <div class="action-button" (click)="deletePayment()">
          <div *ngIf="!isDeletingPayment" class="button-icon">❌</div>
            <div *ngIf="!isDeletingPayment" class="button-text">Delete</div>
            <div *ngIf="isDeletingPayment" class="button-icon">
              <div  class="spinner-border spinner-border-sm text-primary" role="status"></div>
            </div>
        </div>
        <div class="action-button" (click)="resetPaymentForm()">
          <div class="button-icon">↩️</div>
          <div class="button-text">Reset</div>
        </div>
        <!-- <div class="action-button">
          <div class="button-icon exit-icon">🚪</div>
          <div class="button-text">Exit</div>
        </div> -->
      </div>
    </div>
  </div>
  <div *ngIf="selectedSection === 'kot'">
    <div class="bill-container">
      <div class="bill-header">
          <div class="bill-header-item">
              <label class="input-label">Bill Dt. & No.</label>
              <input type="date" [formControl]="billDateToday">
          </div>
          <div class="bill-header-item">
              <label class="input-label">New Bill No.</label>
              <input type="text" value="428" readonly>
          </div>
          <div class="bill-no-dropdown">
              <label class="input-label" >Bill No.</label>
              <select class="dropdown" (change)="showPendingBills($event)">
                <option value="" disabled selected>Select Bill No</option>
                <option *ngFor="let id of pendingBillsIds" [value]="id.id" >{{id.billingId}}</option>
              </select>
          </div>
      </div>
      <table class="bill-table">
          <thead>
              <tr>
                <th style="width: 30px;">#</th>
                <th>Item Name</th>
                <th style="width: 80px;">Rate</th>
                <th style="width: 80px;">Quantity</th>
                <th style="width: 80px;">Total</th>
                  <!-- <th style="width: 30px;">C</th>
                  <th>Name</th>
                  <th style="width: 80px;">Rate (PO)</th>
                  <th style="width: 80px;">Quantity</th>
                  <th style="width: 50px;">V/I</th>
                  <th style="width: 80px;">Total (PO)</th> -->
              </tr>
          </thead>
          <tbody>
              <!-- <tr>
                  <td style="text-align: center;"><input type="checkbox" checked></td>
                  <td>Ice Cola in Bowl</td>
                  <td style="text-align: right;">8.000</td>
                  <td style="text-align: right;">3.000</td>
                  <td>Unit</td>
                  <td style="text-align: right;">24.000</td>
              </tr>
              <tr>
                  <td style="text-align: center;"><input type="checkbox" checked></td>
                  <td>Ice Cola in Bowl</td>
                  <td style="text-align: right;">8.000</td>
                  <td style="text-align: right;">3.000</td>
                  <td>Unit</td>
                  <td style="text-align: right;">24.000</td>
              </tr>
              <tr>
                  <td style="text-align: center;"><input type="checkbox" checked></td>
                  <td>Ice Cola in Bowl</td>
                  <td style="text-align: right;">8.000</td>
                  <td style="text-align: right;">3.000</td>
                  <td>Unit</td>
                  <td style="text-align: right;">24.000</td>
              </tr>
              <tr>
                  <td style="text-align: center;"><input type="checkbox" checked></td>
                  <td>Ice Cola in Bowl</td>
                  <td style="text-align: right;">8.000</td>
                  <td style="text-align: right;">3.000</td>
                  <td>Unit</td>
                  <td style="text-align: right;">24.000</td>
              </tr> -->
              <tr *ngFor="let item of selectedPendingBillItems; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.rate | number: '1.2-2' }}</td>
                <td>{{ item.qty }}</td>
                <td>{{ item.total | number: '1.2-2' }}</td>
              </tr>
              <ng-container *ngIf="selectedPendingBillItems.length < 5">
              <tr *ngFor="let blankRow of [].constructor(5 - selectedPendingBillItems.length); let i = index" >
                <td>{{ selectedPendingBillItems.length + i + 1 }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </ng-container>

          </tbody>
      </table>

      <div class="payment-section" [formGroup]="kotPaymentForm">
          <div class="left-controls">
              <div class="control-group">
                  <div class="btn-group">
                      <button class="btn">
                        <input type="checkbox" formControlName="isTakeAway">
                          Take Away
                      </button>
                      <button class="btn delete">
                          <img src="assets/icon/remove.png" alt="Delete">
                          Delete
                      </button>
                  </div>
                  <div class="btn-group">
                      <button class="btn" (click)="printBill(selectedPendingBill)">
                          <img src="assets/icon/sav_print.png" alt="Save & Print">
                          Save & Print
                      </button>
                      <button class="btn">
                          <img src="assets/icon/save-only.png" alt="Save Only">
                          Save Only
                      </button>
                  </div>
                  <div class="btn-group">
                      <button class="btn">
                          <img src="assets/icon/refresh.png" alt="New Bill">
                          New Bill
                      </button>
                      <button class="btn">
                          <img src="assets/icon/sav_print.png" alt="Print Only">
                          Print Only
                      </button>
                  </div>
              </div>
              <div class="buttons_wrap">
                <button class="primary-btn disabled section-label">Receive HD Bill Amt</button>
                <button class="primary-btn btn" (click)="receivePayment()">Receive Payment</button>
              </div>
          </div>
          <div class="right-section">
              <div class="input-row">
                  <div class="input-group">                      
                      <span class="input-label d-flex align-items-center gap-2 bg-white text-black">
                      <input class="h-auto" type="checkbox"formControlName="isHomeDelivery"> HD:</span>
                      <input type="text" class="input-field">
                  </div>
                  <div class="input-group">
                      <span class="input-label">Name:</span>
                      <input type="text" class="input-field">
                  </div>
              </div>
              
              <div class="input-row">
                  <div class="input-group">
                      <span class="input-label">Discount:</span>
                      <select class="dropdown">
                          <option>%</option>
                      </select>
                    </div>
                    <div class="input-group">
                      <input type="text" formControlName="discount" class="input-field" value="0.000" style="text-align: right;">
                      <!-- <input type="text" class="input-field" value="0.000" style="text-align: right;"> -->
                  </div>
              </div>
          
              <div class="payment-options">
                <label class="payment-option cash">
                  <input type="radio" formControlName="paymentMode" value="Cash">
                  <span>CASH</span>
                </label>
                <label class="payment-option card-cash">
                  <input type="radio" formControlName="paymentMode" value="Credit Card & Cash">
                  <span>CARD & CASH</span>
                </label>
                <label class="payment-option credit-card">
                  <input type="radio" formControlName="paymentMode" value="Credit Card">
                  <span>CREDIT CARD</span>
                </label>
                <label class="payment-option credit">
                  <input type="radio" formControlName="paymentMode" value="Credit">
                  <span>CREDIT</span>
                </label>
              </div>
          
              <div class="amount-section">
                  <div class="amount-row">
                      <span class="input-label">Bill Amt:</span>
                      <input type="text" class="input-field" formControlName="subTotal" readonly>
                  </div>
                  <div class="amount-row">
                      <span class="input-label">Cash:</span>
                      <input type="text" class="input-field" formControlName="cash">
                  </div>
                  <div class="amount-row">
                      <span class="input-label">Card:</span>
                      <select class="dropdown"></select>
                  </div>
                  <div class="amount-row">
                      <span class="input-label">Card Amt:</span>
                      <input type="text" class="input-field" formControlName="card">
                  </div>
                  <div class="amount-row">
                      <span class="input-label">Paid (RO):</span>
                      <input type="text" class="input-field" formControlName="paid">
                  </div>
                  <div class="amount-row">
                      <span class="input-label">Bal. (A/C):</span>
                      <input type="text" class="input-field" formControlName="bal">
                  </div>
                  <div class="amount-row">
                      <span class="input-label">Customer:</span>
                      <!-- <select class="dropdown"></select> -->
                      <input type="text" class="input-field" formControlName="customerName">
                  </div>
              </div>
          </div>
      </div>

      <div class="pending-bills">
          <table class="pending-table">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>Pending Bill No</th>
                      <th>Pending Bill Amount</th>
                      <th>Table No/ TW</th>
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let bill of pendingBills; let i = index" [ngClass]="{ 'selected-row': i === selectedPendingBillIndex }" (click)="onPendingBillSelect(i, bill)">
                  <td>{{ i + 1 }}</td>
                  <td>{{ bill.billingId }}</td>
                  <td>{{ bill.subTotal | number: '1.2-2' }}</td>
                  <td>N/A</td>
                </tr>
                <!-- Render blank rows if fewer than 5 pending bills -->
                <ng-container *ngIf="pendingBills.length < 5">
                <tr  *ngFor="let blankRow of [].constructor(5 - pendingBills.length); let i = index" >
                    <td>{{ pendingBills.length + i + 1 }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </ng-container>
              </tbody>
          </table>
      </div>
  </div>
  </div>
</div>

<div *ngIf="isLoading" class="full-screen-loader">
  <div class="loader"></div>
</div>

<div class="modal fade" id="otherChargesModal" tabindex="-1" aria-labelledby="otherChargesModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="otherChargesModalLabel">Add Other Charges</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="otherChargesForm">
          <div class="mb-3">
            <label for="otherChargesInput" class="form-label">Other Charges</label>
            <input type="number" class="form-control" id="otherChargesInput" formControlName="amount" placeholder="Enter amount">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveOtherCharges()" data-bs-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="missingDetailsModal" tabindex="-1" aria-labelledby="missingDetailsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="missingDetailsModalLabel">Missing Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{{ missingDetailsMessage }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reportModalLabel">{{ selectedReport }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="reportForm">
          <div class="mb-3 d-flex">
            <label for="from" class="form-label">Start Date</label>
            <input type="date" id="from" class="form-control" formControlName="from">
          </div>
          <div class="mb-3 d-flex">
            <label for="to" class="form-label">End Date</label>
            <input type="date" id="to" class="form-control" formControlName="to">
          </div>
          <div class="mb-3 d-flex">
            <input type="checkbox" id="isHalfDay"  formControlName="isHalfDay">
            <label for="isHalfDay" class="form-check-label">Half Day</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="generateReport()">
          <span *ngIf="!isGeneratingReport">Generate Report</span>
          <span *ngIf="isGeneratingReport" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span *ngIf="isGeneratingReport"> Generating...</span>
        </button>
      </div>
    </div>
  </div>
</div>