.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}
.submenu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.submenu .sidebar-menu {
  padding-left: 24px;
  font-size: 0.9rem;
}
.list-group{
  display: block;
}

.btn{
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure it stays on top */
  background: white; /* Maintain background to avoid transparency */
}

mat-sidenav-content {
  overflow: auto;
}

